/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

/*formatting sidebar social links to horizontal*/
aside#social li{
        display: block;
        padding-right: 30px;
        padding-bottom: 10px;
}

aside#social{
    background: rgba(50,205,50,0.5);
    width: auto;
    height: auto;
    position: fixed;
    top: 100px;
    right: 20px;
    cursor: pointer;
    padding-left: 20px;
    border: 2px solid black;
    border-radius: 50px; 
}

aside#social:hover {
    background: rgba(50,205,50);
    width: auto;
    height: auto;
    position: fixed;
    top: 100px;
    right: 20px;
    cursor: pointer;
    padding-left: 20px;
    border: 2px solid black;
    border-radius: 50px;
}


ul.social-links{
    display: none;
}

aside#social:hover ul.social-links{
    display: block;
}

/*Background styling*/

html{
    background-image: url(../img/monkey_crystal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

body{
    margin: 3rem auto;
    width: 75%;
    padding: 2rem;
    border: 2px solid black;
    background-color: rgb(173,216,230, 0.8);
}
 
 header{
     height: 300px;
     background: url(../img/monkaa_bluemonkey.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     padding: 100px 20px 20px 20px;
     border: 4px solid white;
 }

h1{
    padding: 5px;
    font-size: 50px;
}

* {
    font-family: cursive;
    padding-right: 20px;
}

footer{
    background: lime;
    border: 4px solid white;
    padding: 10px;
}

section#watch{
    background: orange;
}

section#about{
    background: teal;
}

section#listen{
    background: lime;
}

section{
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid black;
    border-radius: 25px;
    margin: 20px;
}