/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

aside#social{
    background: lime;
    width: 200px;
    height: auto;
    position: fixed;
    top: 50px;
    right: 20px;
    cursor: pointer;
}

ul.social-links{
    display: none;
}

aside#social:hover ul.social-links{
    display: block;
}

/*Background styling*/

html{
    background-image: url(img/monkey_crystal.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0;
    padding: 0;
}

body{
    margin: 3rem auto;
    width: 75%;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 50px;
    background-color: rgb(43, 88, 160,.9);
}
 
 header{
     height: 300px;
     background: url(../img/monkaa_bluemonkey.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     padding: 100px 20px 20px 20px;
 }

h1{
    background: rgba(255,255,255,0.6);
    padding: 5px;
}

footer{
    background: grey;
}

section#watch{
    background: yellow;
}

section#about{
    background: cornflowerblue;
}

section#listen{
    background: purple;
}

section{
    padding-top: 50px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}